.Main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 30px;
	width: 20%;
	height: 50%;
	font-family: Raleway, sans-serif;
	line-height: 28px;
	color: #7f858f;
	font-weight: 300;
	border: 2px solid grey;
	border-radius: 5px;
}

.Vid-logo {
	height: 93px;
	width: 250px;
}

.App-header {
/*  background-color: #282c34;*/
	font-size: 18pt;
	align-items: center;
	text-align: center;
}

.Login-form {
	font-size: 14pt;
	align-items: center;
	text-align: center;
}
