.App {
    margin: 20px;
}

.App .navbar-brand{
    font-weight: bold;
}

.Header {
    height: 45px;
    /* border: 1px solid black; */
}

.Container {
    height: 100%;
    /* height: 100vh - 20px; */
    /* display: block; */
    padding: 0px 10px 0px 10px;
    margin: auto;
    /* border: 1px solid black; */
}

.sort-head:hover{
    background: #ececec;
}

.data {
    height: 100%;
    margin: auto;
    /* border: 1px solid black;  */
    /* overflow:auto; */
}

.data table{
    min-width: 1200px;
}

.data thead, .data tbody, .data tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.data td{
    border-right: 2px solid #e8e8e8;
    word-wrap: break-word;
}

.data tbody{
    display: block;
    overflow-x: auto;
    overflow-y: scroll;
}

.data tr:last-child{
    border-bottom: 1px solid #e6e6e6; 
}

.data td{
    overflow: hidden;
    text-overflow: ellipsis;
}

.react-datepicker {
    font-size: 1.3rem !important;
}
  
.react-datepicker__current-month {
    font-size: 1.5rem !important;
}
  
.react-datepicker__header {
    padding-top: 6px !important;
}
  
.react-datepicker__navigation {
    top: 13px !important;
}
  
.react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important;
}