.App {
    margin: 20px;
}

.App .navbar-brand{
    font-weight: bold;
}

.Container {
    height: 100%;
    margin-top: 70px;
    padding: 0px 10px 0px 10px;
}

.data {
    margin-top: 5px;
}

.data table{
    height: 100%;    
    min-width: 1200px;
}

.data thead, .data tbody, .data tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.data td{
    border-right: 2px solid #e8e8e8;
}

.data tbody{
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
}

.data tr:last-child{
    border-bottom: 1px solid #e6e6e6; 
}

.data td{
    overflow: hidden;
    text-overflow: ellipsis;
}