.App {
    margin: 30px;
}

.App .navbar-brand{
    font-weight: bold;
}

.data {
    height: 435px;
    margin-top: 15px;
    overflow-y: auto;
    overflow-x: hidden
}

tr:nth-child(even) {background-color: #f2f2f2;}

.Container {
    margin: auto;
    padding: 0px 10px 0px 10px;
}

.ReactTable {
    height: 450px;
    margin-top: 10px;
}

.ReactTable .rt-thead {
    overflow-y: scroll;
  }