#assets tbody{
    height: 470px;
}

#assets tr > :nth-child(1){
    width: 145px;
}
#assets tr > :nth-child(5){
    width: 80px;
}
#assets tr > :nth-child(6){
    width: 90px;
}
#assets tr > :nth-child(8){
    width: 80px;
}
#assets tr > :nth-child(9){
    width: 90px;
}
#assets tr > :nth-child(10){
    width: 90px;
}
#assets tr > :nth-child(12){
    width: 50px;
    text-align: center;
}
#assets tr > :nth-child(13){
    width: 60px;
    text-align: center;
}
#assets td:nth-child(14){
    width: 50px;
    text-align: center;
}
#assets th:nth-child(14){
    width: 66.5px;
}

#edit tbody{
    height: 500px;
}

#edit td:nth-child(5){
    width:135px;
    text-align: center;
}
#edit th:nth-child(5){
    width: 151.5px;
}

#history tbody{
    height: 470px;
}