.data.employees tbody{
    height: 440px;
}

.data.employees td:nth-child(1), .data.employees th:nth-child(1){
    width: 120px;
}
.data.employees td:nth-child(2), .data.employees th:nth-child(2){
    width: 242px;
}
.data.employees td:nth-child(3), .data.employees th:nth-child(3){
    width: 100px;
}
.data.employees td:nth-child(4), .data.employees th:nth-child(4){
    width: 120px;
}
.data.employees td:nth-child(5), .data.employees th:nth-child(5){
    width: 120px;
}
.data.employees td:nth-child(6), .data.employees th:nth-child(6){
    width: 120px;
}
.data.employees td:nth-child(7), .data.employees th:nth-child(7){
    width: 150px;
}
.data.employees td:nth-child(8), .data.employees th:nth-child(8){
    width: 100px;
}
.data.employees td:nth-child(9), .data.employees th:nth-child(9){
    width: 100px;
}
.data.employees td:nth-child(10), .data.employees th:nth-child(10){
    width: 100px;
}
.data.employees td:nth-child(11), .data.employees th:nth-child(11){
    width: 60px;
}
.data.employees td:nth-child(12), .data.employees th:nth-child(12){
    width: 71px;
}
.data.employees td:nth-child(13), .data.employees th:nth-child(13){
    width: 53px;
    text-align: center;
}

.data.empAssets tbody{
    height: 480px;
}

.data.empAssets td:nth-child(1), .data.empAssets th:nth-child(1){
    width: 325px;
}
.data.empAssets td:nth-child(2), .data.empAssets th:nth-child(2){
    width: 325px;
}
.data.empAssets td:nth-child(3), .data.empAssets th:nth-child(3){
    width: 325px;
}
.data.empAssets td:nth-child(4), .data.empAssets th:nth-child(4){
    width: 325px;
}
.data.empAssets td:nth-child(5), .data.empAssets th:nth-child(5){
    width: 160px;
}

.data.addAsset tbody{
    height: 470px;
}

.data.addAsset td:nth-child(1), .data.addAsset th:nth-child(1){
    width: 440px;
}
.data.addAsset td:nth-child(2), .data.addAsset th:nth-child(2){
    width: 440px;
}
.data.addAsset td:nth-child(3), .data.addAsset th:nth-child(3){
    width: 440px;
}
.data.addAsset td:nth-child(4), .data.addAsset th:nth-child(4){
    width: 137px;
    text-align: center;
}

.data.empLicenses tbody{
    height: 470px;
}

.data.empLicenses td:nth-child(1), .data.empLicenses th:nth-child(1){
    width: 485px;
}
.data.empLicenses td:nth-child(2), .data.empLicenses th:nth-child(2){
    width: 485px;
}
.data.empLicenses td:nth-child(3), .data.empLicenses th:nth-child(3){
    width: 485px;
}

.data.addLicense tbody{
    height: 470px;
}

.data.addLicense td:nth-child(1), .data.addLicense th:nth-child(1){
    width: 1355px;
}
.data.addLicense td:nth-child(2), .data.addLicense th:nth-child(2){
    width: 100px;
    text-align: center;
}