.data.employees tbody{
    height: 460px;
}

/* .data.employees td:nth-child(1), .data.employees th:nth-child(1){
    width: 120px;
}*/
.data.employees td:nth-child(2), .data.employees th:nth-child(2){
    width: 260px;
}
.data.employees td:nth-child(3), .data.employees th:nth-child(3){
    width: 100px;
}
.data.employees td:nth-child(4), .data.employees th:nth-child(4){
    width: 110px;
}/*
.data.employees td:nth-child(5), .data.employees th:nth-child(5){
    width: 120px;
}
.data.employees td:nth-child(6), .data.employees th:nth-child(6){
    width: 120px;
}
.data.employees td:nth-child(7), .data.employees th:nth-child(7){
    width: 120px;
}*/
.data.employees td:nth-child(8), .data.employees th:nth-child(8){
    width: 90px;
}
.data.employees td:nth-child(9), .data.employees th:nth-child(9){
    width: 90px;
}/*
.data.employees td:nth-child(10), .data.employees th:nth-child(10){
    min-width: 600px;
} */
.data.employees td:nth-child(11), .data.employees th:nth-child(11){
    width: 60px;
}
.data.employees td:nth-child(12), .data.employees th:nth-child(12){
    width: 70px;
}
.data.employees td:nth-child(13){
    width: 53.5px;
    text-align: center;
}
.data.employees th:nth-child(13){
    width: 70px;    
} 

.data.empAssets tbody{
    height: 520px;
}

/* .data.empAssets td:nth-child(1), .data.empAssets th:nth-child(1){
    width: 325px;
}
.data.empAssets td:nth-child(2), .data.empAssets th:nth-child(2){
    width: 325px;
}
.data.empAssets td:nth-child(3), .data.empAssets th:nth-child(3){
    width: 325px;
}
.data.empAssets td:nth-child(4), .data.empAssets th:nth-child(4){
    width: 325px;
} */
.data.empAssets td:nth-child(5), .data.empAssets th:nth-child(5){
    width: 140px;
    text-align: center;
}

.data.addAsset tbody{
    height: 500px;
}

/* .data.addAsset td:nth-child(1), .data.addAsset th:nth-child(1){
    width: 440px;
}
.data.addAsset td:nth-child(2), .data.addAsset th:nth-child(2){
    width: 440px;
}
.data.addAsset td:nth-child(3), .data.addAsset th:nth-child(3){
    width: 440px;
}*/
.data.addAsset td:nth-child(4), .data.addAsset th:nth-child(4){
    width: 137px;
    text-align: center;
} 

.data.empLicenses tbody{
    height: 470px;
}

/* .data.empLicenses td:nth-child(1), .data.empLicenses th:nth-child(1){
    width: 485px;
}
.data.empLicenses td:nth-child(2), .data.empLicenses th:nth-child(2){
    width: 485px;
}
.data.empLicenses td:nth-child(3), .data.empLicenses th:nth-child(3){
    width: 485px;
}

.data.addLicense tbody{
    height: 470px;
}

.data.addLicense td:nth-child(1), .data.addLicense th:nth-child(1){
    width: 1355px;
}
.data.addLicense td:nth-child(2), .data.addLicense th:nth-child(2){
    width: 100px;
    text-align: center;
} */