#employees tbody{
    height: 460px; 
    border: none;
}

/* #employees th{
    border-bottom: none;
    border-left: 1px solid black;  
} */

#employees tr > :nth-child(2){
    width: 240px;
    min-width: 240px;
}
#employees tr > :nth-child(3){
    width: 100px;
}
#employees tr > :nth-child(4){
    width: 110px;
}
#employees tr > :nth-child(8){
    width: 105px;
}
#employees tr > :nth-child(9){
    width: 105px;
}
#employees tr > :nth-child(11){
    width: 60px;
}
#employees tr > :nth-child(12){
    width: 70px;
}
#employees td:nth-child(13){
    width: 53.5px;
    text-align: center;
}
#employees th:nth-child(13){
    width: 70px;    
} 

#empAssets tbody{
    height: 520px;
}

/* .data.empAssets td:nth-child(1), .data.empAssets th:nth-child(1){
    width: 325px;
}
.data.empAssets td:nth-child(2), .data.empAssets th:nth-child(2){
    width: 325px;
}
.data.empAssets td:nth-child(3), .data.empAssets th:nth-child(3){
    width: 325px;
}
.data.empAssets td:nth-child(4), .data.empAssets th:nth-child(4){
    width: 325px;
} */

#empAssets td:nth-child(5){
    width: 140px;
    text-align: center;
}
#empAssets th:nth-child(5){
    width: 157px;
}

#addAsset tbody{
    height: 500px;
}

/* .data.addAsset td:nth-child(1), .data.addAsset th:nth-child(1){
    width: 440px;
}
.data.addAsset td:nth-child(2), .data.addAsset th:nth-child(2){
    width: 440px;
}
.data.addAsset td:nth-child(3), .data.addAsset th:nth-child(3){
    width: 440px;
}*/
#addAsset td:nth-child(4), #addAsset th:nth-child(4){
    width: 137px;
    text-align: center;
} 

/* #empLicenses tbody{
    height: 470px;
} */

/* .data.empLicenses td:nth-child(1), .data.empLicenses th:nth-child(1){
    width: 485px;
}
.data.empLicenses td:nth-child(2), .data.empLicenses th:nth-child(2){
    width: 485px;
}
.data.empLicenses td:nth-child(3), .data.empLicenses th:nth-child(3){
    width: 485px;
}*/

#addLicense tbody{
    height: 470px;
    overflow: auto;
}
/*
.data.addLicense td:nth-child(1), .data.addLicense th:nth-child(1){
    width: 1355px;
}
.data.addLicense td:nth-child(2), .data.addLicense th:nth-child(2){
    width: 100px;
    text-align: center;
} */