.Main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 20px;
	width: 20%;
	height: 70%;
	font-family: Raleway, sans-serif;
	line-height: 18px;
	color: #7f858f;
	font-weight: 300;
}

.Vid-logo {
	height: 93px;
	width: 250px;
}

.App-header {
	font-size: 18pt;
	align-items: center;
	text-align: center;
}

@media all and (min-width: 480px) {
	.Login {
	  padding: 60px 0;
	}
  
	.Login form {
	  margin: 0 auto;
	  max-width: 320px;
	}
}	