#software td:nth-child(3){
    width: 150px;
    text-align: center;
}
#software td:nth-child(4){
    width: 150px;
    text-align: center;
}
#software th:nth-child(4){
    width: 166.5px;
}

#addUser tbody{
    height: 500px;
}

#addUser td:nth-child(5){
    width: 135px;
    text-align: center;
}
#addUser th:nth-child(5){
    width: 151.5px;
}

#users td:nth-child(4){
    width: 200px;
    text-align: center;
}

#users th:nth-child(4){
    width: 217px;
}

.rt-tbody{
    height: 550px;
}

.rt-thead{
    overflow-y: scroll;
}

.graphics{
    height: 700px;
    width: 90%;
    /*border: 1px solid black;*/
}

#tab-content{
    /*border: 1px solid black;*/
    margin-left: 17%;
}